<div class="row">
	<div style="background-image:url('<%=@about.img(:medium)%>');width:100vw;height:360px;"></div>
</div>
<hr>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5 well" style="text-align:center;margin-left:-20px;">
		<u><h3>Vision</h3></u>
		<p><%=@about.vision%></p>
	</div>
	<div class="col-md-5 well" style="text-align:center;margin-left:20px;">
		<u><h3>Mission</h3></u>
		<p><%=@about.mission%></p>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row content">
	<h2 style="text-align:center">TEAM</h2>
	<%@teams.each do |team|%>
		<div class="col-md-4">
			  <div class="bg2" style="background: url('<%=team.img(:medium)%>') no-repeat;"> <a class="box overlay" href="<%=team.link%>"> <span class="image-caption"><%=team.name%></span> <span class="desc overlay-desc"><%=team.designation%><br><%=team.quote%><br>
			      <br>
			      <span class="see-more">See more...</span></span> </a> 
		      </div>
		</div>	
	<%end%>
</div>
<br><br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5>
			<%=@about.extra%>
		</h5>
	</div>
	<div class="col-md-1"></div>
</div>
<br>


